In [1]:
# import the required libraries

from collections import Counter
from scipy import sparse
import numpy as np
import pandas as pd
import pickle

train = pd.read_csv('/content/drive/My Drive/ml/recommendation/train/train.csv')
test = pd.read_csv('/content/drive/My Drive/ml/recommendation/test/test.csv')
train.head()

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855
2        4576_3     4576                   3   CI24917
3        4576_4     4576                   4   CI23663
4        4576_5     4576                   5   CI23933

In [2]:
# convert the train in the long format to wide format

wide_train = train.pivot_table(index = "user_id", columns="challenge_sequence", values="challenge", aggfunc= lambda x : x).reset_index()
wide_train.head(20)

challenge_sequence  user_id        1        2  ...       11       12       13
0                      4576  CI23714  CI23855  ...  CI24958  CI23667  CI23691
1                      4580  CI23663  CI23855  ...  CI24915  CI25727  CI26051
2                      4581  CI26155  CI26156  ...  CI26163  CI26166  CI26167
3                      4582  CI23855  CI24915  ...  CI25135  CI26051  CI24957
4                      4585  CI23855  CI23975  ...  CI24530  CI24187  CI25126
5                      4587  CI23933  CI25727  ...  CI24031  CI23855  CI28240
6                      4590  CI23848  CI23855  ...  CI23691  CI25733  CI25142
7                      4591  CI23855  CI23933  ...  CI24958  CI24261  CI23648
8                      4592  CI23855  CI24917  ...  CI23769  CI24958  CI24187
9                      4593  CI26155  CI26157  ...  CI26166  CI26167  CI26168
10                     4596  CI26940  CI26942  ...  CI26950  CI26949  CI26955
11                     4602  CI26939  CI26942  ...  CI26953  CI26950  CI26955
12                     4604  CI23714  CI23855  ...  CI26052  CI23933  CI24530
13                     4606  CI23714  CI23856  ...  CI25124  CI23855  CI23663
14                     4609  CI23714  CI23855  ...  CI23887  CI23975  CI25124
15                     4611  CI26155  CI26156  ...  CI26168  CI26170  CI26169
16                     4612  CI23663  CI23855  ...  CI24917  CI24953  CI24534
17                     4615  CI28567  CI28568  ...  CI28581  CI28577  CI28575
18                     4616  CI23933  CI24917  ...  CI23663  CI26051  CI23975
19                     4617  CI23855  CI23933  ...  CI25125  CI25124  CI23975

[20 rows x 14 columns]

In [3]:
# dropping the user_id
wide_train.drop(["user_id"], axis =1, inplace = True)

# convert each row for a user into a string
rows = []
for index, row in wide_train.iterrows():
    r = " ".join(row.map(str))
    rows.append(r)

# converting test to wide format

wide_test = test.pivot_table(index = "user_id", columns="challenge_sequence", values="challenge", aggfunc= lambda x : x).reset_index()

wide_test.shape

(39732, 11)

In [4]:
test_ids = wide_test['user_id']
wide_test.drop(["user_id"], axis =1, inplace = True)

for index, row in wide_test.iterrows():
    r = " ".join(row.map(str))
    rows.append(r)

len(rows)

109264

In [5]:
# creating a corpus
thefile = open("corpus.txt","w")

for element in rows:
    thefile.write("%s\n"%element)

thefile.close()



corpus = open("corpus.txt","r")
vocab = Counter()

# updating the vocab dictionary with each line in the corpus
for line in corpus:
    tokens = line.strip().split()
    vocab.update(tokens)

vocab = {word: (i, freq) for i, (word, freq) in enumerate(vocab.items())}
vocab

{'CI23714': (0, 12458),
 'CI23855': (1, 15184),
 'CI24917': (2, 12372),
 'CI23663': (3, 12077),
 'CI23933': (4, 11060),
 'CI25135': (5, 10482),
 'CI23975': (6, 7075),
 'CI25126': (7, 8550),
 'CI24915': (8, 7845),
 'CI24957': (9, 4873),
 'CI24958': (10, 11333),
 'CI23667': (11, 4723),
 'CI23691': (12, 9532),
 'CI24530': (13, 10166),
 'CI23648': (14, 6816),
 'CI23781': (15, 2984),
 'CI25727': (16, 2726),
 'CI26051': (17, 5030),
 'CI26155': (18, 1470),
 'CI26156': (19, 1218),
 'CI26157': (20, 1350),
 'CI26158': (21, 1283),
 'CI26159': (22, 1289),
 'CI26160': (23, 1133),
 'CI26161': (24, 1091),
 'CI26162': (25, 1459),
 'CI26164': (26, 1744),
 'CI26165': (27, 1537),
 'CI26163': (28, 949),
 'CI26166': (29, 1329),
 'CI26167': (30, 1673),
 'CI24953': (31, 5385),
 'CI24944': (32, 2525),
 'CI23848': (33, 9090),
 'CI24187': (34, 6697),
 'CI25125': (35, 4526),
 'CI25124': (36, 6018),
 'CI25633': (37, 620),
 'CI26050': (38, 3021),
 'CI24031': (39, 3708),
 'CI28240': (40, 232),
 'CI23929': (41, 2033),
 'CI23913': (42, 5668),
 'CI25298': (43, 693),
 'CI25733': (44, 1160),
 'CI25142': (45, 5359),
 'CI24534': (46, 7111),
 'CI24527': (47, 7623),
 'CI24261': (48, 5627),
 'CI23769': (49, 8218),
 'CI26168': (50, 1218),
 'CI26940': (51, 365),
 'CI26942': (52, 442),
 'CI26943': (53, 585),
 'CI26944': (54, 344),
 'CI26945': (55, 355),
 'CI26947': (56, 446),
 'CI26946': (57, 508),
 'CI26948': (58, 610),
 'CI26954': (59, 1199),
 'CI26953': (60, 983),
 'CI26950': (61, 562),
 'CI26949': (62, 720),
 'CI26955': (63, 1018),
 'CI26939': (64, 859),
 'CI26052': (65, 3781),
 'CI23856': (66, 3954),
 'CI25735': (67, 741),
 'CI24956': (68, 3086),
 'CI23612': (69, 3694),
 'CI23921': (70, 784),
 'CI23887': (71, 3953),
 'CI26170': (72, 1265),
 'CI26169': (73, 1501),
 'CI28567': (74, 1833),
 'CI28568': (75, 1221),
 'CI28569': (76, 1713),
 'CI28572': (77, 1135),
 'CI28570': (78, 1164),
 'CI28578': (79, 1424),
 'CI28573': (80, 918),
 'CI28571': (81, 830),
 'CI28586': (82, 1879),
 'CI28574': (83, 1119),
 'CI28581': (84, 1367),
 'CI28577': (85, 634),
 'CI28575': (86, 530),
 'CI23836': (87, 3574),
 'CI24968': (88, 5920),
 'CI24228': (89, 5984),
 'CI26174': (90, 2107),
 'CI24943': (91, 865),
 'CI24954': (92, 1287),
 'CI26902': (93, 4092),
 'CI26903': (94, 3711),
 'CI26904': (95, 3156),
 'CI26905': (96, 2972),
 'CI26906': (97, 1902),
 'CI26908': (98, 2168),
 'CI26907': (99, 2996),
 'CI26910': (100, 4875),
 'CI26912': (101, 3104),
 'CI26909': (102, 2822),
 'CI26911': (103, 3272),
 'CI26913': (104, 3619),
 'CI26917': (105, 3540),
 'CI24003': (106, 1312),
 'CI23697': (107, 1843),
 'CI26956': (108, 982),
 'CI26957': (109, 876),
 'CI26958': (110, 1041),
 'CI26960': (111, 1036),
 'CI26959': (112, 979),
 'CI26961': (113, 983),
 'CI27013': (114, 438),
 'CI26941': (115, 512),
 'CI26173': (116, 1892),
 'CI24522': (117, 2684),
 'CI24531': (118, 4285),
 'CI24533': (119, 2414),
 'CI26951': (120, 759),
 'CI26952': (121, 798),
 'CI24252': (122, 3025),
 'CI24141': (123, 954),
 'CI26171': (124, 1922),
 'CI24000': (125, 217),
 'CI24931': (126, 2045),
 'CI25629': (127, 274),
 'CI24206': (128, 3051),
 'CI24138': (129, 6470),
 'CI24866': (130, 5786),
 'CI24532': (131, 5167),
 'CI26210': (132, 3244),
 'CI26211': (133, 3047),
 'CI24950': (134, 1480),
 'CI24955': (135, 2131),
 'CI28580': (136, 680),
 'CI28582': (137, 999),
 'CI28576': (138, 847),
 'CI28585': (139, 1204),
 'CI26916': (140, 4205),
 'CI26914': (141, 3299),
 'CI24184': (142, 3467),
 'CI26213': (143, 2980),
 'CI27649': (144, 520),
 'CI27650': (145, 574),
 'CI27651': (146, 605),
 'CI27652': (147, 529),
 'CI27653': (148, 691),
 'CI27654': (149, 714),
 'CI27655': (150, 776),
 'CI27657': (151, 715),
 'CI27656': (152, 789),
 'CI27658': (153, 791),
 'CI27659': (154, 902),
 'CI27808': (155, 1105),
 'CI27661': (156, 931),
 'CI24230': (157, 3710),
 'CI25175': (158, 3111),
 'CI25644': (159, 693),
 'CI23782': (160, 769),
 'CI25375': (161, 301),
 'CI25123': (162, 2978),
 'CI24188': (163, 2044),
 'CI24525': (164, 2719),
 'CI27282': (165, 2095),
 'CI25634': (166, 1720),
 'CI23880': (167, 4101),
 'CI26221': (168, 4329),
 'CI26176': (169, 1637),
 'CI26177': (170, 442),
 'CI26178': (171, 424),
 'CI26179': (172, 363),
 'CI26180': (173, 500),
 'CI26181': (174, 622),
 'CI26182': (175, 480),
 'CI26184': (176, 436),
 'CI26183': (177, 589),
 'CI26185': (178, 541),
 'CI26186': (179, 568),
 'CI26187': (180, 525),
 'CI26190': (181, 641),
 'CI27018': (182, 473),
 'CI27019': (183, 379),
 'CI27020': (184, 402),
 'CI27021': (185, 347),
 'CI27022': (186, 372),
 'CI27023': (187, 363),
 'CI27024': (188, 325),
 'CI27025': (189, 390),
 'CI27026': (190, 397),
 'CI27027': (191, 385),
 'CI27029': (192, 564),
 'CI27033': (193, 746),
 'CI27030': (194, 615),
 'CI24139': (195, 1989),
 'CI27141': (196, 356),
 'CI26060': (197, 758),
 'CI28286': (198, 114),
 'CI25731': (199, 204),
 'CI25216': (200, 551),
 'CI26915': (201, 4601),
 'CI24924': (202, 664),
 'CI24930': (203, 1452),
 'CI24939': (204, 687),
 'CI24922': (205, 641),
 'CI24928': (206, 734),
 'CI24940': (207, 707),
 'CI24925': (208, 329),
 'CI24942': (209, 926),
 'CI24937': (210, 796),
 'CI25052': (211, 662),
 'CI25053': (212, 1039),
 'CI24921': (213, 492),
 'CI24936': (214, 731),
 'CI25056': (215, 3660),
 'CI23839': (216, 1800),
 'CI28583': (217, 1337),
 'CI23999': (218, 2143),
 'CI25075': (219, 7282),
 'CI24927': (220, 1049),
 'CI26209': (221, 2049),
 'CI25732': (222, 455),
 'CI25022': (223, 2414),
 'CI25057': (224, 3913),
 'CI26938': (225, 1112),
 'CI25143': (226, 2841),
 'CI25172': (227, 1571),
 'CI25141': (228, 6521),
 'CI25140': (229, 4240),
 'CI24868': (230, 5132),
 'CI24257': (231, 2286),
 'CI25561': (232, 371),
 'CI24952': (233, 721),
 'CI24951': (234, 549),
 'CI26208': (235, 2293),
 'CI28584': (236, 886),
 'CI26154': (237, 952),
 'CI24672': (238, 1965),
 'CI24969': (239, 1739),
 'CI24916': (240, 998),
 'CI26175': (241, 1343),
 'CI26055': (242, 1064),
 'CI24029': (243, 1256),
 'CI26212': (244, 2010),
 'CI26214': (245, 2599),
 'CI26216': (246, 3605),
 'CI26217': (247, 3807),
 'CI24962': (248, 2065),
 'CI24117': (249, 3392),
 'CI24918': (250, 395),
 'CI26172': (251, 791),
 'CI24521': (252, 2001),
 'CI27124': (253, 380),
 'CI24876': (254, 8351),
 'CI27662': (255, 902),
 'CI27660': (256, 904),
 'CI24867': (257, 3464),
 'CI25250': (258, 186),
 'CI27028': (259, 357),
 'CI27031': (260, 684),
 'CI27032': (261, 784),
 'CI27038': (262, 1459),
 'CI26218': (263, 3093),
 'CI26219': (264, 3848),
 'CI26220': (265, 4039),
 'CI24923': (266, 409),
 'CI24932': (267, 716),
 'CI26058': (268, 1265),
 'CI24273': (269, 1286),
 'CI27921': (270, 367),
 'CI25740': (271, 362),
 'CI24524': (272, 1266),
 'CI26501': (273, 517),
 'CI27470': (274, 244),
 'CI24523': (275, 621),
 'CI24526': (276, 226),
 'CI27455': (277, 328),
 'CI27456': (278, 787),
 'CI27749': (279, 384),
 'CI27644': (280, 1006),
 'CI27451': (281, 166),
 'CI26820': (282, 1010),
 'CI27740': (283, 207),
 'CI27716': (284, 208),
 'CI27457': (285, 215),
 'CI27744': (286, 107),
 'CI27751': (287, 147),
 'CI29018': (288, 54),
 'CI24121': (289, 1353),
 'CI27461': (290, 335),
 'CI27462': (291, 101),
 'CI27465': (292, 54),
 'CI27468': (293, 96),
 'CI27464': (294, 182),
 'CI27438': (295, 207),
 'CI27444': (296, 80),
 'CI27446': (297, 76),
 'CI27034': (298, 762),
 'CI25058': (299, 887),
 'CI25127': (300, 1046),
 'CI25105': (301, 2096),
 'CI25094': (302, 434),
 'CI25059': (303, 257),
 'CI25093': (304, 1315),
 'CI25106': (305, 2623),
 'CI24621': (306, 2259),
 'CI26215': (307, 1318),
 'CI25728': (308, 431),
 'CI23770': (309, 3681),
 'CI28579': (310, 675),
 'CI25302': (311, 1578),
 'CI26248': (312, 469),
 'CI26821': (313, 262),
 'CI26822': (314, 290),
 'CI26823': (315, 245),
 'CI26825': (316, 362),
 'CI26824': (317, 275),
 'CI26827': (318, 285),
 'CI26828': (319, 247),
 'CI26826': (320, 270),
 'CI26833': (321, 400),
 'CI26829': (322, 178),
 'CI26834': (323, 320),
 'CI26836': (324, 355),
 'CI23662': (325, 1908),
 'CI24267': (326, 660),
 'CI25338': (327, 601),
 'CI23840': (328, 954),
 'CI23653': (329, 1348),
 'CI23555': (330, 191),
 'CI27664': (331, 1090),
 'CI27663': (332, 1210),
 'CI27665': (333, 944),
 'CI27668': (334, 1412),
 'CI27666': (335, 997),
 'CI24225': (336, 1669),
 'CI26188': (337, 633),
 'CI26192': (338, 789),
 'CI23702': (339, 3004),
 'CI24101': (340, 176),
 'CI26056': (341, 874),
 'CI24528': (342, 603),
 'CI26918': (343, 3665),
 'CI26919': (344, 1762),
 'CI26781': (345, 349),
 'CI26247': (346, 487),
 'CI24115': (347, 602),
 'CI24992': (348, 1502),
 'CI25150': (349, 1482),
 'CI25180': (350, 1840),
 'CI27673': (351, 1657),
 'CI27780': (352, 402),
 'CI27781': (353, 380),
 'CI27782': (354, 845),
 'CI27783': (355, 384),
 'CI27784': (356, 468),
 'CI27786': (357, 414),
 'CI27785': (358, 378),
 'CI27787': (359, 504),
 'CI27788': (360, 517),
 'CI27789': (361, 608),
 'CI27790': (362, 615),
 'CI27792': (363, 792),
 'CI27794': (364, 902),
 'CI24871': (365, 3281),
 'CI27667': (366, 826),
 'CI27669': (367, 1533),
 'CI27915': (368, 244),
 'CI26923': (369, 4538),
 'CI26855': (370, 1382),
 'CI23927': (371, 243),
 'CI24120': (372, 2183),
 'CI23790': (373, 1297),
 'CI24723': (374, 274),
 'CI27209': (375, 144),
 'CI25769': (376, 1001),
 'CI27648': (377, 1116),
 'CI27791': (378, 569),
 'CI27793': (379, 784),
 'CI23791': (380, 1379),
 'CI23922': (381, 1677),
 'CI24107': (382, 974),
 'CI23865': (383, 304),
 'CI23846': (384, 268),
 'CI24872': (385, 1193),
 'CI24873': (386, 2267),
 'CI27037': (387, 1002),
 'CI27806': (388, 1223),
 'CI27730': (389, 137),
 'CI25501': (390, 935),
 'CI25363': (391, 68),
 'CI25409': (392, 605),
 'CI24268': (393, 605),
 'CI26287': (394, 434),
 'CI23517': (395, 264),
 'CI25510': (396, 97),
 'CI25551': (397, 283),
 'CI24535': (398, 1740),
 'CI24529': (399, 1327),
 'CI24491': (400, 1997),
 'CI26193': (401, 778),
 'CI26191': (402, 799),
 'CI24607': (403, 475),
 'CI25493': (404, 259),
 'CI24461': (405, 1507),
 'CI24633': (406, 235),
 'CI27414': (407, 385),
 'CI27418': (408, 99),
 'CI24376': (409, 451),
 'CI25820': (410, 113),
 'CI25497': (411, 101),
 'CI25500': (412, 156),
 'CI27365': (413, 58),
 'CI25496': (414, 149),
 'CI26189': (415, 558),
 'CI23994': (416, 784),
 'CI27193': (417, 244),
 'CI27235': (418, 403),
 'CI27206': (419, 143),
 'CI24860': (420, 773),
 'CI23504': (421, 124),
 'CI27927': (422, 278),
 'CI23958': (423, 635),
 'CI24426': (424, 2490),
 'CI27795': (425, 890),
 'CI25117': (426, 804),
 'CI23554': (427, 207),
 'CI26059': (428, 811),
 'CI25028': (429, 234),
 'CI28921': (430, 54),
 'CI27035': (431, 842),
 'CI27796': (432, 955),
 'CI27797': (433, 1018),
 'CI27798': (434, 1162),
 'CI27799': (435, 944),
 'CI27800': (436, 639),
 'CI27801': (437, 1016),
 'CI27807': (438, 1347),
 'CI27805': (439, 1125),
 'CI27802': (440, 764),
 'CI27811': (441, 1699),
 'CI26920': (442, 2719),
 'CI26922': (443, 3515),
 'CI26921': (444, 3148),
 'CI23932': (445, 1921),
 'CI24511': (446, 259),
 'CI23764': (447, 747),
 'CI24024': (448, 756),
 'CI24150': (449, 1369),
 'CI24157': (450, 682),
 'CI23568': (451, 332),
 'CI25136': (452, 1626),
 'CI25121': (453, 549),
 'CI25507': (454, 1101),
 'CI26856': (455, 1284),
 'CI26857': (456, 1042),
 'CI26858': (457, 1322),
 'CI26859': (458, 971),
 'CI26861': (459, 824),
 'CI26860': (460, 442),
 'CI26864': (461, 333),
 'CI26862': (462, 948),
 'CI26865': (463, 598),
 'CI26868': (464, 669),
 'CI26871': (465, 876),
 'CI26870': (466, 1059),
 'CI25179': (467, 1192),
 'CI25417': (468, 30),
 'CI24963': (469, 129),
 'CI23811': (470, 184),
 'CI23688': (471, 1858),
 'CI24030': (472, 1773),
 'CI24902': (473, 630),
 'CI24865': (474, 902),
 'CI24875': (475, 4422),
 'CI24891': (476, 1053),
 'CI24869': (477, 606),
 'CI24878': (478, 404),
 'CI24894': (479, 115),
 'CI24879': (480, 175),
 'CI26925': (481, 5794),
 'CI27957': (482, 359),
 'CI25321': (483, 41),
 'CI24622': (484, 296),
 'CI24926': (485, 606),
 'CI24239': (486, 1811),
 'CI25631': (487, 449),
 'CI25796': (488, 181),
 'CI27685': (489, 128),
 'CI24914': (490, 229),
 'CI24203': (491, 277),
 'CI24231': (492, 1265),
 'CI26023': (493, 225),
 'CI24045': (494, 162),
 'CI26684': (495, 28),
 'CI25062': (496, 1399),
 'CI25311': (497, 97),
 'CI26195': (498, 1054),
 'CI25880': (499, 67),
 'CI24014': (500, 450),
 'CI24880': (501, 708),
 'CI25416': (502, 274),
 'CI24935': (503, 754),
 'CI25926': (504, 370),
 'CI24433': (505, 377),
 'CI24459': (506, 1650),
 'CI24455': (507, 606),
 'CI24348': (508, 2372),
 'CI24371': (509, 311),
 'CI23546': (510, 2398),
 'CI25024': (511, 1918),
 'CI24692': (512, 1657),
 'CI24690': (513, 2869),
 'CI23780': (514, 978),
 'CI23957': (515, 240),
 'CI23959': (516, 292),
 'CI23956': (517, 306),
 'CI23705': (518, 260),
 'CI23708': (519, 323),
 'CI23703': (520, 315),
 'CI23763': (521, 326),
 'CI23760': (522, 315),
 'CI23924': (523, 685),
 'CI23761': (524, 336),
 'CI23766': (525, 289),
 'CI23762': (526, 161),
 'CI24175': (527, 1209),
 'CI25339': (528, 127),
 'CI23928': (529, 472),
 'CI25055': (530, 904),
 'CI25630': (531, 145),
 'CI23989': (532, 526),
 'CI26203': (533, 2092),
 'CI27674': (534, 1705),
 'CI27675': (535, 1617),
 'CI27676': (536, 1834),
 'CI27677': (537, 1824),
 'CI27678': (538, 2186),
 'CI27681': (539, 2851),
 'CI27682': (540, 2637),
 'CI27680': (541, 2211),
 'CI27679': (542, 2047),
 'CI26930': (543, 4461),
 'CI24094': (544, 789),
 'CI24085': (545, 318),
 'CI23765': (546, 261),
 'CI26054': (547, 1096),
 'CI25090': (548, 480),
 'CI24109': (549, 973),
 'CI25104': (550, 402),
 'CI25107': (551, 2075),
 'CI25108': (552, 1968),
 'CI25109': (553, 811),
 'CI26929': (554, 2495),
 'CI26926': (555, 3337),
 'CI24901': (556, 116),
 'CI28698': (557, 220),
 'CI23768': (558, 566),
 'CI23744': (559, 591),
 'CI23666': (560, 358),
 'CI28257': (561, 148),
 'CI24010': (562, 455),
 'CI23936': (563, 211),
 'CI24158': (564, 80),
 'CI23909': (565, 422),
 'CI26928': (566, 2572),
 'CI26927': (567, 3548),
 'CI25040': (568, 310),
 'CI23789': (569, 393),
 'CI27227': (570, 99),
 'CI27200': (571, 37),
 'CI27217': (572, 64),
 'CI25441': (573, 80),
 'CI27215': (574, 65),
 'CI27065': (575, 124),
 'CI24224': (576, 558),
 'CI26931': (577, 3900),
 'CI26830': (578, 210),
 'CI26838': (579, 199),
 'CI26835': (580, 283),
 'CI28214': (581, 53),
 'CI24246': (582, 582),
 'CI25210': (583, 300),
 'CI26053': (584, 313),
 'CI24005': (585, 145),
 'CI28199': (586, 552),
 'CI26727': (587, 56),
 'CI27958': (588, 308),
 'CI27960': (589, 112),
 'CI27961': (590, 235),
 'CI27964': (591, 231),
 'CI27963': (592, 80),
 'CI27962': (593, 239),
 'CI27965': (594, 130),
 'CI27967': (595, 186),
 'CI27966': (596, 172),
 'CI27969': (597, 206),
 'CI27959': (598, 337),
 'CI27980': (599, 174),
 'CI27976': (600, 174),
 'CI27974': (601, 174),
 'CI24906': (602, 472),
 'CI23825': (603, 417),
 'CI25238': (604, 150),
 'CI24670': (605, 753),
 'CI25632': (606, 100),
 'CI23741': (607, 663),
 'CI26701': (608, 119),
 'CI25054': (609, 1173),
 'CI24081': (610, 2471),
 'CI27670': (611, 1658),
 'CI23910': (612, 312),
 'CI25074': (613, 4402),
 'CI26196': (614, 1247),
 'CI27779': (615, 756),
 'CI23937': (616, 284),
 'CI28791': (617, 31),
 'CI24929': (618, 401),
 'CI26984': (619, 994),
 'CI26985': (620, 363),
 'CI26987': (621, 488),
 'CI26988': (622, 395),
 'CI26990': (623, 519),
 'CI26989': (624, 452),
 'CI26991': (625, 509),
 'CI26992': (626, 374),
 'CI26997': (627, 560),
 'CI26994': (628, 214),
 'CI26999': (629, 559),
 'CI26996': (630, 299),
 'CI26993': (631, 320),
 'CI24972': (632, 547),
 'CI25034': (633, 360),
 'CI24970': (634, 556),
 'CI25200': (635, 616),
 'CI26832': (636, 246),
 'CI27900': (637, 189),
 'CI25450': (638, 54),
 'CI24934': (639, 370),
 'CI23776': (640, 441),
 'CI23970': (641, 379),
 'CI23971': (642, 371),
 'CI23968': (643, 359),
 'CI24678': (644, 460),
 'CI23963': (645, 230),
 'CI23967': (646, 341),
 'CI23964': (647, 427),
 'CI23785': (648, 277),
 'CI24108': (649, 391),
 'CI23965': (650, 459),
 'CI23969': (651, 384),
 'CI26593': (652, 49),
 'CI24651': (653, 129),
 'CI27810': (654, 1296),
 'CI24095': (655, 137),
 'CI23726': (656, 509),
 'CI27778': (657, 280),
 'CI27010': (658, 680),
 'CI27011': (659, 235),
 'CI27012': (660, 329),
 'CI27008': (661, 540),
 'CI27009': (662, 471),
 'CI27007': (663, 584),
 'CI27015': (664, 398),
 'CI27014': (665, 528),
 'CI27005': (666, 978),
 'CI27469': (667, 35),
 'CI27467': (668, 266),
 'CI24842': (669, 30),
 'CI27671': (670, 1153),
 'CI27233': (671, 144),
 'CI28244': (672, 147),
 'CI27036': (673, 1104),
 'CI27040': (674, 1138),
 'CI27039': (675, 1094),
 'CI27043': (676, 1790),
 'CI27045': (677, 1939),
 'CI27539': (678, 131),
 'CI23812': (679, 592),
 'CI24126': (680, 270),
 'CI23805': (681, 841),
 'CI25128': (682, 425),
 'CI24135': (683, 335),
 'CI23795': (684, 185),
 'CI23955': (685, 138),
 'CI27419': (686, 102),
 'CI27399': (687, 55),
 'CI24111': (688, 758),
 'CI28798': (689, 47),
 'CI24941': (690, 404),
 'CI28248': (691, 209),
 'CI23598': (692, 421),
 'CI24701': (693, 829),
 'CI25405': (694, 14),
 'CI25073': (695, 957),
 'CI25373': (696, 82),
 'CI26986': (697, 455),
 'CI26995': (698, 288),
 'CI26924': (699, 1416),
 'CI24276': (700, 546),
 'CI25079': (701, 244),
 'CI23659': (702, 117),
 'CI25361': (703, 832),
 'CI25008': (704, 50),
 'CI27621': (705, 197),
 'CI25111': (706, 220),
 'CI28982': (707, 147),
 'CI28984': (708, 107),
 'CI28985': (709, 34),
 'CI28983': (710, 42),
 'CI28969': (711, 51),
 'CI28987': (712, 13),
 'CI28980': (713, 14),
 'CI28973': (714, 3),
 'CI28981': (715, 3),
 'CI28986': (716, 7),
 'CI24877': (717, 356),
 'CI24368': (718, 78),
 'CI25869': (719, 99),
 'CI28790': (720, 81),
 'CI25137': (721, 240),
 'CI24213': (722, 111),
 'CI23540': (723, 34),
 'CI27046': (724, 2273),
 'CI27042': (725, 1208),
 'CI27041': (726, 827),
 'CI27044': (727, 1949),
 'CI27047': (728, 2151),
 'CI27049': (729, 1967),
 'CI27051': (730, 2035),
 'CI24437': (731, 1236),
 'CI24440': (732, 4223),
 'CI24493': (733, 1280),
 'CI24435': (734, 1833),
 'CI23727': (735, 370),
 'CI28794': (736, 49),
 'CI28792': (737, 133),
 'CI26873': (738, 1095),
 'CI28479': (739, 169),
 'CI25494': (740, 196),
 'CI24617': (741, 26),
 'CI23786': (742, 294),
 'CI26250': (743, 634),
 'CI25232': (744, 332),
 'CI24889': (745, 338),
 'CI25744': (746, 134),
 'CI23830': (747, 771),
 'CI24448': (748, 1557),
 'CI24349': (749, 934),
 'CI24372': (750, 552),
 'CI24438': (751, 1549),
 'CI23875': (752, 334),
 'CI23774': (753, 398),
 'CI26201': (754, 1408),
 'CI26200': (755, 1316),
 'CI28086': (756, 245),
 'CI28106': (757, 164),
 'CI28108': (758, 168),
 'CI28112': (759, 196),
 'CI28113': (760, 163),
 'CI28115': (761, 161),
 'CI28116': (762, 159),
 'CI28120': (763, 247),
 'CI28117': (764, 172),
 'CI28119': (765, 232),
 'CI28122': (766, 237),
 'CI28118': (767, 153),
 'CI26291': (768, 57),
 'CI25064': (769, 497),
 'CI28480': (770, 69),
 'CI24001': (771, 377),
 'CI27803': (772, 642),
 'CI26998': (773, 473),
 'CI27000': (774, 532),
 'CI27001': (775, 497),
 'CI27002': (776, 631),
 'CI27006': (777, 787),
 'CI27003': (778, 520),
 'CI26623': (779, 83),
 'CI25103': (780, 865),
 'CI25070': (781, 148),
 'CI25071': (782, 182),
 'CI25072': (783, 498),
 'CI23992': (784, 418),
 'CI23541': (785, 146),
 'CI23526': (786, 193),
 'CI24938': (787, 282),
 'CI23616': (788, 494),
 'CI28184': (789, 609),
 'CI28197': (790, 357),
 'CI28200': (791, 426),
 'CI28180': (792, 437),
 'CI28185': (793, 534),
 'CI28194': (794, 537),
 'CI28182': (795, 623),
 'CI28171': (796, 270),
 'CI28177': (797, 258),
 'CI28176': (798, 337),
 'CI28170': (799, 251),
 'CI28173': (800, 237),
 'CI28181': (801, 344),
 'CI24883': (802, 663),
 'CI25815': (803, 1041),
 'CI24106': (804, 217),
 'CI26675': (805, 75),
 'CI26027': (806, 40),
 'CI24004': (807, 312),
 'CI26866': (808, 861),
 'CI26863': (809, 197),
 'CI23866': (810, 246),
 'CI24919': (811, 201),
 'CI25149': (812, 2713),
 'CI25214': (813, 587),
 'CI25230': (814, 127),
 'CI27809': (815, 1549),
 'CI27804': (816, 601),
 'CI24196': (817, 358),
 'CI25260': (818, 337),
 'CI24358': (819, 13),
 'CI25781': (820, 113),
 'CI28457': (821, 73),
 'CI28481': (822, 77),
 'CI28530': (823, 286),
 'CI26465': (824, 70),
 'CI28485': (825, 31),
 'CI28256': (826, 163),
 'CI26464': (827, 67),

In [6]:
id2word = dict((i, word) for word, (i, _) in enumerate(vocab.items()))

vocab_size = len(vocab)
print(vocab_size)

cooccurrences = sparse.lil_matrix((vocab_size, vocab_size),dtype=np.float64)
cooccurrences

window_size = 10
corpus = open("corpus.txt","r")

for i, line in enumerate(corpus):
    tokens = line.strip().split()
    token_ids = [vocab[word][0] for word in tokens]
    
    for center_i, center_id in enumerate(token_ids):
        context_ids = token_ids[max(0, center_i - window_size) : center_i]
        contexts_len = len(context_ids)

        for left_i, left_id in enumerate(context_ids):
            
            distance = contexts_len - left_i

            increment = 1.0 / float(distance)

            # Build co-occurrence matrix symmetrically 
            cooccurrences[center_id, left_id] += increment
            cooccurrences[left_id, center_id] += increment

min_count = None
#min_count = 20
print(min_count)

5502
None

In [7]:
# filling the values in a matrix form

co_matrix = np.zeros([len(id2word),len(id2word)])

for i, (row, data) in enumerate(zip(cooccurrences.rows,cooccurrences.data)):
    if min_count is not None and vocab[id2word[i]][0] < min_count:
        continue
        
    for data_idx, j in enumerate(row):
        if min_count is not None and vocab[id2word[j]][0] < min_count:
            continue
            
        co_matrix[i,j] = data[data_idx]

co_matrix

array([[   0.        , 1218.48412698,  952.68690476, ...,    0.        ,
           0.        ,    0.        ],
       [1218.48412698,    0.        , 1221.0265873 , ...,    0.        ,
           0.        ,    0.        ],
       [ 952.68690476, 1221.0265873 ,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       ...,
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,    0.        ]])

In [8]:
#saving the mapping to a dictionary
pickle_path = "./vocab_mapping.pkl"
pickle_mapping = open(pickle_path,"wb")
pickle.dump(id2word, pickle_mapping)
pickle_mapping.close()

# saving the co-occurence matrix as a dataframe

co_occurence_dataframe = pd.DataFrame(co_matrix)
co_occurence_dataframe.head()

          0            1            2            3     ...  5498  5499  5500  5501
0     0.000000  1218.484127   952.686905  1065.586905  ...   0.0   0.0   0.0   0.0
1  1218.484127     0.000000  1221.026587  1252.965476  ...   0.0   0.0   0.0   0.0
2   952.686905  1221.026587     0.000000   847.772222  ...   0.0   0.0   0.0   0.0
3  1065.586905  1252.965476   847.772222     0.000000  ...   0.0   0.0   0.0   0.0
4   985.600397  1092.545238   969.061508   976.407143  ...   0.0   0.0   0.0   0.0

[5 rows x 5502 columns]

In [9]:

res = {v:k for k,v in id2word.items()}

co_occurence_dataframe =co_occurence_dataframe.rename(columns=res)
co_occurence_dataframe = co_occurence_dataframe.rename(index=res)

co_occurence_dataframe.to_csv("co_matrix_with_window_size_1.csv", index = False)
co_occurence_dataframe.head()

             CI23714      CI23855      CI24917  ...  CI27334  CI25342  CI28218
CI23714     0.000000  1218.484127   952.686905  ...      0.0      0.0      0.0
CI23855  1218.484127     0.000000  1221.026587  ...      0.0      0.0      0.0
CI24917   952.686905  1221.026587     0.000000  ...      0.0      0.0      0.0
CI23663  1065.586905  1252.965476   847.772222  ...      0.0      0.0      0.0
CI23933   985.600397  1092.545238   969.061508  ...      0.0      0.0      0.0

[5 rows x 5502 columns]

In [10]:
wide_test.head()

challenge_sequence       1        2        3   ...       8        9        10
0                   CI23855  CI23933  CI24917  ...  CI25135  CI25727  CI24530
1                   CI23663  CI23855  CI24917  ...  CI24915  CI24958  CI23781
2                   CI26939  CI26940  CI26941  ...  CI26947  CI26948  CI26954
3                   CI23663  CI23855  CI23975  ...  CI23781  CI24530  CI23667
4                   CI23855  CI23975  CI25135  ...  CI25733  CI25126  CI23913

[5 rows x 10 columns]

In [11]:
wide_test.shape

(39732, 10)

In [12]:

final_predictions = []

for i in range(0,39732):
    predictions = [wide_test.loc[i,10]]
    counter = 0
    for stimulus in predictions:
        predictions.append(co_occurence_dataframe[stimulus].idxmax())
        counter+=1
        if counter == 3:
            break
            
    final_predictions.append(predictions[1:])

# making predictions with the co-occurence_matrix based on 10th challenge only
final_predictions_new = []

for i in range(0,39732):
    stimulus = wide_test.loc[i,10]
    
    final_predictions_new.append(list(co_occurence_dataframe[stimulus].nlargest(3).index))

largest_3 = pd.DataFrame(final_predictions_new)
largest_3['user_id'] = test_ids
largest_3.head()

         0        1        2  user_id
0  CI23691  CI23714  CI23663     4577
1  CI23663  CI23714  CI23933     4578
2  CI26953  CI26955  CI26951     4579
3  CI23648  CI23663  CI23933     4583
4  CI23714  CI23855  CI25142     4584

In [13]:
largest_3_long = pd.melt(largest_3,id_vars="user_id",var_name="sequence", value_name="challenge" )
largest_3_long.head()

   user_id sequence challenge
0     4577        0   CI23691
1     4578        0   CI23663
2     4579        0   CI26953
3     4583        0   CI23648
4     4584        0   CI23714

In [14]:

largest_3_long['sequence'] = largest_3_long['sequence'].map({0:'11',1:'12',2:"13"})

largest_3_long['user_sequence'] = largest_3_long['user_id'].map(str)+"_"+largest_3_long['sequence'].map(str)

In [15]:
largest_3_long[['user_sequence','challenge']].to_csv("submission.csv", index = False)

In [16]:
df5 = pd.read_csv('/content/submission.csv')
df5

       user_sequence challenge
0            4577_11   CI23691
1            4578_11   CI23663
2            4579_11   CI26953
3            4583_11   CI23648
4            4584_11   CI23714
...              ...       ...
119191     113829_13   CI24421
119192     113830_13   CI23691
119193     113831_13   CI24968
119194     113834_13   CI23855
119195     113838_13   CI23663

[119196 rows x 2 columns]